/********** Home-page ************/

#Home-page {
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    padding: 12px;
}

.offcanvas-title {
    color: white;
}

.navbar,
.offcanvas,
.image-container {
    background: linear-gradient(to right , #00093c , #2d0b00);
}

/* Quote  */


.image-container {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    background-image: url("../images/library-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 46.8rem;
    display: inline-block;
}

.blockquote-custom {
    position: relative;
    font-size: 1.1rem;
    box-shadow: 2px;
    background: linear-gradient(to right , #00093c , #2d0b00);
    color: whitesmoke;
}

.blockquote-custom-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    left: 50px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 30px;
}

.browse-button {
    top: 73%;
    background: linear-gradient(to right , #00093c , #2d0b00);
    left: 49.5%;
    font-size:22px;
    font-family: 'Ubuntu', sans-serif;
    padding: 20px;
}

.btn {
    top: 80%;
    left: 49.4%;
    font-family: 'Ubuntu', sans-serif;
    background: #00093c;
    background-image: -webkit-linear-gradient(top, #00093c, #2d0b00);
    background-image: -moz-linear-gradient(top, #00093c, #2d0b00);
    background-image: -ms-linear-gradient(top, #00093c, #2d0b00);
    background-image: -o-linear-gradient(top, #00093c, #2d0b00);
    background-image: linear-gradient(to bottom, #00093c, #2d0b00);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #2d0b00;
    background-image: -webkit-linear-gradient(top, #2d0b00, #00093c);
    background-image: -moz-linear-gradient(top, #2d0b00, #00093c);
    background-image: -ms-linear-gradient(top, #2d0b00, #00093c);
    background-image: -o-linear-gradient(top, #2d0b00, #00093c);
    background-image: linear-gradient(to bottom, #2d0b00, #00093c);
    text-decoration: none;
  }

/******** Footer ************/

#footer {
    width: 100%;
    background: linear-gradient(to right , #00093c , #2d0b00);
    color: #fff;
    padding: 100px 0 10px;
    border-top-left-radius: 125px;
    border-top-right-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    margin-top: 10rem;
    margin-bottom: 0;
}

.footer-row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-col {
    flex-basis: 25%;
    padding: 40px;
}

.logo {
    width: 140px;
    margin-bottom: 30px;  
}

.title {
    width: fit-content;
    position: relative;
}

.details , .details a {
    width: fit-content;
    margin: 20px 0;
    text-decoration: none;
    color: #fff;
}

.social-media-icons .fa-brands {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    line-height: 40px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
}


.link-ul {
    padding: 0; 
}

.link-list {
    list-style: none;
    margin-bottom: 12px;
}

.link-list a {
    text-decoration: none;
    color: white;
}


hr {
    border: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

.footer-divider-line {
    width: 88%;
    margin: 20px auto;
}

.copyright {
    text-align: center;
}

.working-hours-attribute {
    display: inline-block;
}

.working-hours-line {
    margin: 0 auto 12px;
}